html, body, #map { 
    height: 100%;
     width: 100%;
      margin: 0px;
       padding: 0px;
       text-align: center;
     }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    margin-right:150;
    margin-left:150;
}
#historia{
    img {
        width:500px;
        height:600px;
    }
}
#pagamento {
    img:;
}

#facebook {
    img:;
}

#camera {
    h2, h3 { margin-top:0; }
    form { margin-top: 15px; }
    form > input { margin-right: 15px; }
    #results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }
}